* {
  margin: 0;
  font-family: sans-serif;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
}
.dropdown-btn {
  display: flex;
  width: 170px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dropdown-arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
  position: relative;
  top: 10px;
  left: 80px;
}
.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #000000;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.dropdown-options {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}
